<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="cg">

 <test name="test1">

      
      <classes>
       
        <class name="com.capgemini.LoadUserHomePage"></class>
        <class name="com.capgemini.JavaScriptTestExample"></class>
     
      </classes>

 </test>
 
 <test name="test2">
 <classes>
 
 <class name=""></class>
 
 </classes>
 
 </test>

</suite>